.DS_Store

*.aux
*.nav
*.log
*.snm
*.toc
*.out
*.vrb
*.bbl
*.blg
*latexmk*
*fls
*synctex*

*/_minted/*
slides/beamer/**/*.pdf
slides/beamer/_review/
slides/beamer/_review_refs/
slides/beamer/**/*-review-*.png
